body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*basic inteo*/

.center {
  width: 50%;
  margin-left: 25%;
  background-color: rgb(240, 222, 195);
  text-align: center;
}

.ir {
  font-size: 15px;
  text-align:left;
  margin: 10px;

}

.contentone {
  text-align: left;
  margin: 10px;
}

.req {
  color: red;
}
.od {
  font-size: 20px;
  text-align: left;
  margin: 10px;
}

.contenttwo {
  text-align: left;
  margin: 10px;
}

.btno {
  color: white;
  background-color: blue;
  border-radius: 10px;
  width: 60px;
  height: 25px;
  position: relative;
  left: 300px;
  top: 25px;
}

/*add experience*/

.ae {
  font-size: 20px;
  text-align: left;
  margin: 10px;
}

.contentthree{
  text-align: left;
  margin: 10px;

}

.dropdown{
  position: relative;
  bottom: 10px;
}
.startmonth{
  height: 25px;
}

.startyear{
  height: 25px;
  position: relative;
  left: 5px;
}

.endmonth{
  height: 25px;
}

.endyear{
  height: 25px;
  position: relative;
  left: 5px;
}

/*add education*/
.aedu {
  font-size: 20px;
  text-align: left;
  margin: 10px;
}

.des{
  height: 100px;
  width: 725px;
}

/*add skill form*/

.asf{
  font-size: 20px;
  text-align: left;
  margin: 10px;

}

.para {
  font-size: 15px;
  position: relative;
  right: 240px;
}