
/*add education*/
.aedu {
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

.des{
    height: 100px;
    width: 725px;
}

.btno {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 300px;
    top: 25px;
}

