
/*add experience*/

.ae {
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

.contentthree{
    text-align: left;
    margin: 10px;

}

.dropdown{
    position: relative;
    bottom: 10px;
}
.startmonth{
    height: 25px;
}

.startyear{
    height: 25px;
    position: relative;
    left: 5px;
}

.endmonth{
    height: 25px;
}

.endyear{
    height: 25px;
    position: relative;
    left: 5px;
}


.btno {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 300px;
    top: 25px;
}

/*Responsive*/

@media only screen and (max-width: 750px) {

    .startyear{
        height: 25px;
        position: relative;
        left: 0px;
        top: 5px;
    }
    
    .endyear{
        height: 25px;
        position: relative;
        left: 0px;
        top: 5px;
    }
    


}