/*basic inteo*/

.center {
    width: 50%;
    margin-left: 25%;
    background-color: rgb(240, 222, 195);
    text-align: center;
}

.ir {
    font-size: 15px;
    text-align:left;
    margin: 10px;

}

.contentone {
    text-align: left;
    margin: 10px;
}

.req {
    color: red;
}
.od {
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

.contenttwo {
    text-align: left;
    margin: 10px;
}

.btn .btno {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 300px;
    top: 25px;
    cursor: pointer;
}


/*Responsive*/

@media only screen and (max-width: 750px) {
 
    
.center {
    width: 70%;
    margin-left: 15%;
    background-color: rgb(195, 229, 240);
    text-align: center;
}

.btn .btno {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 200px;
    top: 25px;
    cursor: pointer;
}

}
