/*add skill form*/
/*
.asf{
    font-size: 20px;
    text-align: left;
    margin: 10px;

}

.para {
    font-size: 15px;
    position: relative;
    right: 240px;
}

.btno {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 300px;
    top: 25px;
}
*/
