.container {
    background-color: rgb(169, 177, 165);
    width: 90%;
    height: 10%;
    position: relative;
    left: 5%;
    bottom: 10%;
    
}

.boxone {
    width: 30px;
    height: 80px;
    border: 1px solid rgb(50, 61, 179);
    background-color: rgb(50, 61, 179);
    position: relative;
    top: 105px;
    left: 25px;
}

.first-name{
    position: relative;
    bottom: 0px;
    left: 75px;
    font-size: 35px;   
}
.last-name{
    position: relative;
    bottom: 71px;
    left: 190px;
    font-size: 35px;   
}

.title {
    position: relative;
    bottom: 35px;
    left: 75px;
    font-size: 15px;
}

.msg {
    position: relative;
    bottom: 40px;
    left: 75px;
}

.imgedit {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 600px;
    bottom: 200px;
}

.contact {
    position: relative;
    left: 75%;
    bottom: 370px;
    font-size: 10px;
}

.phone{
    position: relative;
    left: 77px;
}
.linked {
    position: relative;
    left: 105px;
}

.location {
    position: relative;
    left: 85px;
}

.lineedit {
    width: 90%;
    position: relative;
    bottom: 310px;
    right: 15px;
    border: 2px solid aqua;
    background-color: aqua;
}

.boxtwo {
    width: 30px;
    height: 80px;
    border: 1px solid rgb(50, 61, 179);
    background-color: rgb(50, 61, 179);
    position: relative;
    bottom: 220px;
    left: 25px;
}

.workexp {
    position: relative;
    bottom: 375px;
    left: 85px;
}

.designation {
    position: relative;
    bottom: 385px;
    left: 85px;
    font-size: 20px;
}
.company {
    position: relative;
    bottom: 380px;
    left: 85px;
    font-size: 15px;
    color: gray;
}

.date{
    position: relative;
    bottom: 380px;
    left: 85px;
    color: aqua;
    font-size: 16px;
}

.place {
    position: relative;
    bottom: 415px;
    left: 355px;
    color: aqua;
    font-size: 16px;
}

.boxthree {
    width: 30px;
    height: 80px;
    border: 1px solid rgb(50, 61, 179);
    background-color: rgb(50, 61, 179);
    position: relative;
    left: 750px;
    bottom: 535px;

}

.education {
    position: relative;
    left: 850px;
    bottom: 680px;
}

.school {
    font-size: 20px;
}

.degree {
    font-size: 15px;
    color: gray;
}
.field{
    font-size: 15px;
    color: gray;
}

.startdate{
    color: aqua;
    font-size: 14px;
}

.enddate{
    color: aqua;
    font-size: 14px;
    position: relative;
    left: 300px;
    bottom: 33px;
}
.grade{
    font-size: 18px;
    position: relative;
    bottom: 40px;
}
.activities {
    font-size: 18px;
    position: relative;
    bottom: 45px;
}

/*skills*/

.boxfour {
    width: 30px;
    height: 80px;
    border: 1px solid rgb(50, 61, 179);
    background-color: rgb(50, 61, 179);
    position: relative;
    bottom: 750px;
    left: 25px;
}


.ski{
    position: relative;
    bottom: 870px;
    left: 100px;
}

.sp{
    position: relative;
    bottom: 870px;
    left: 75px;
}
.html{
    position: relative;
    bottom: 850px;
    left: 100px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;
}

.css{
    position: relative;
    bottom: 850px;
    left: 100px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;
}

.js{
    position: relative;
    bottom: 1006px;
    left:270px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;
}
.react{
    position: relative;
    bottom: 1006px;
    left:270px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;

}
.angular{
    position: relative;
    bottom: 1165px;
    left:440px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;
}
.bootstrap{
    position: relative;
    bottom: 1165px;
    left:440px;
    border: 1px solid black;
    width: 135px;
    height: 55px;
    background-color: aqua;
    text-align: center;

}
.box{
    width: 30px;
    height: 30px;
}
/*Responsive*/

@media only screen and (max-width: 750px) {

    .container {
        background-color: rgb(123, 187, 91);
        width: 90%;
        position: relative;
        left: 5%;
        bottom: 10%;
        
    }
    
    .boxone {
        width: 20px;
        height: 80px;
        border: 1px solid rgb(50, 61, 179);
        background-color: rgb(50, 61, 179);
        position: relative;
        top: 105px;
        left: 25px;
    }
    
    .first-name{
        position: relative;
        bottom: 10px;
        left: 65px;
        font-size: 25px;   
    }
    
    .last-name{
        position: relative;
        bottom:61px;
        left: 150px;
        font-size: 25px;   
    }
    .title {
        position: relative;
        bottom: 30px;
        left: 65px;
        font-size: 10px;
    }
    
    .msg {
        position: relative;
        bottom: 40px;
        left: 65px;
        font-size: 10px;
    }
    
    .imgedit {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: relative;
        left: 400px;
        bottom: 150px;
    }
    
    .contact {
        position: relative;
        left: 75%;
        bottom: 220px;
        font-size: 7px;
    }
    
    .phone{
        position: relative;
        left: 55px;
    }
    .linked {
        position: relative;
        left: 75px;
    }
    
    .location {
        position: relative;
        left: 60px;
    }
    
    .lineedit {
        width: 90%;
        position: relative;
        bottom: 200px;
        right: 15px;
        border: 2px solid aqua;
        background-color: aqua;
    }
    
    .boxtwo {
        width: 20px;
        height: 80px;
        border: 1px solid rgb(50, 61, 179);
        background-color: rgb(50, 61, 179);
        position: relative;
        bottom: 180px;
        left: 25px;
    }
    
    .workexp {
        position: relative;
        bottom: 270px;
        left: 65px;
        font-size: 17px;
    }
    
    .designation {
        position: relative;
        bottom: 275px;
        left: 65px;
        font-size: 14px;
    }
    .company {
        position: relative;
        bottom: 275px;
        left: 65px;
        font-size: 12px;
        color: gray;
    }
    
    .date{
        position: relative;
        bottom: 262px;
        left: 65px;
        color: aqua;
        font-size: 10px;
    }
    
    .place {
        position: relative;
        bottom: 281px;
        left: 220px;
        color: aqua;
        font-size: 10px;
    }
    
    .boxthree {
        width: 20px;
        height: 80px;
        border: 1px solid rgb(50, 61, 179);
        background-color: rgb(50, 61, 179);
        position: relative;
        left: 320px;
        bottom: 400px;
    
    }
    
    .education {
        position: relative;
        left: 350px;
        bottom: 500px;
    }
    
    .education .edu {
        font-size: 20px;
    }
    .school {
        font-size: 10px;
    }
    
    .degree {
        font-size: 10px;
        color: gray;
    }
    .field{
        font-size: 10px;
        color: gray;
    }
    
    .startdate{
        color: aqua;
        font-size: 10px;
    }
    
    .enddate{
        color: aqua;
        font-size: 10px;
        position: relative;
        left: 150px;
        bottom: 26px;
    }
    .grade{
        font-size: 10px;
        position: relative;
        bottom: 25px;
    }
    .activities {
        font-size: 10px;
        position: relative;
        bottom: 25px;
    }
    
    .btnt{
        background-color: green;
        color: rgb(255, 255, 255);
        width: 100px;
        height: 50px;
        position: relative;
        left: 50%;
    }

    
.boxfour {
    width: 20px;
    height: 80px;
    border: 1px solid rgb(50, 61, 179);
    background-color: rgb(50, 61, 179);
    position: relative;
    bottom: 520px;
    left: 28px;
}


.ski{
    position: relative;
    bottom: 620px;
    left: 80px;
    font-size: 20px;
}
.sp{
    position: relative;
    bottom: 625px;
    left: 75px;
}

.html{
    position: relative;
    bottom: 620px;
    left: 100px;
    border: 1px solid black;
    width: 105px;
    height: 35px;
    background-color: aqua;
    text-align: center;
}

.css{
    position: relative;
    bottom: 650px;
    left: 100px;
    border: 1px solid black;
    width: 105px;
    height: 35px;
    background-color: aqua;
    text-align: center;
}

.js{
    position: relative;
    bottom: 740px;
    left:270px;
    border: 1px solid black;
    width: 105px;
    height: 35px;
    background-color: aqua;
    text-align: center;
}
.react{
    position: relative;
    bottom: 767px;
    left:270px;
    border: 1px solid black;
    width: 105px;
    height: 35px;
    background-color: aqua;
    text-align: center;

}
.angular{
    position: relative;
    bottom: 857px;
    left:440px;
    border: 1px solid black;
    width: 105px;
    height: 35px;
    background-color: aqua;
    text-align: center;
}
.bootstrap{
    position: relative;
    bottom: 880px;
    left:440px;
    border: 1px solid black;
    width: 115px;
    height: 40px;
    background-color: aqua;
    text-align: center;

}
.box{
    width: 20px;
    height: 20px;
}
     



}